<button type="button" 
class="btn btn-success" 
data-bs-toggle="modal" 
data-bs-target="#addAuthorModal"><i class="fas fa-plus" style="font-size: 20px"></i></button>
<table class="w-100 border border-rounded mt-auto">
    <tr class="text-center">
        <th>Number</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Photo</th>
        <th>Actions</th>
    </tr>
    @for (author of authors; track $index) {
        <tr class="text-center">
            <td>{{$index+1}}</td>
            <td>{{author.firstName + ' ' + author.lastName}}</td>
            <td>{{author.dateOfBirth}}</td>
            <td>{{author.photo}}</td>
            <td class="d-flex justify-content-evenly">
                <button class="btn btn-danger" (click)="deleteAuthor(author._id)" ><i class="fas fa-trash-can"></i></button>
                <button type="button" 
                    class="btn btn-success" 
                    data-bs-toggle="modal" 
                    data-bs-target="#editAuthorModal" (click)="sendauthor(author)"><i class="fas fa-pencil"></i></button>
            </td>
        </tr> 
    }
</table>

<!-- add author modal -->
<app-add-author></app-add-author>

 <!-- edit author -->
 <div class="modal fade" id="editAuthorModal" tabindex="-1" aria-labelledby="categoryEditModal" aria-hidden="true">
    <app-edit-author [authorinfo]="currentauthor.asObservable()"></app-edit-author>
</div>