<button type="button" 
class="btn btn-success" 
data-bs-toggle="modal" 
data-bs-target="#addBookModal"><i class="fas fa-plus" style="font-size: 20px"></i></button>
<table class="w-100 border border-rounded mt-auto">
    <tr class="text-center">
        <th>Number</th>
        <th>Name</th>
        <th>categoryId</th>
        <th>authorId</th>
        <th>Photo</th>
        <th>Actions</th>
    </tr>
    @for (book of books; track $index) {
        <tr class="text-center">
            <td>{{$index+1}}</td>
            <td>{{book.bookName}}</td>
            <td>{{book.categoryId._id}}</td>
            <td>{{book.authorId._id}}</td>
            <td>{{book.photo}}</td>
            <td class="d-flex justify-content-evenly">
                <button class="btn btn-danger" (click)="deleteBook(book._id)" ><i class="fas fa-trash-can"></i></button>
                <button type="button" 
                    class="btn btn-success" 
                    data-bs-toggle="modal" 
                    data-bs-target="#editBookModal" (click)="sendBook(book)"><i class="fas fa-pencil"></i></button>
            </td>
        </tr> 
    }
</table>

<!-- add book modal -->
<app-addbook></app-addbook>

<!-- edit book -->
<div class="modal fade" id="editBookModal" tabindex="-1" aria-labelledby="categoryEditModal" aria-hidden="true">
    <app-editbook [bookInfo]="currentBook.asObservable()"></app-editbook>
</div>
