<div class="untree_co-section product-section before-footer-section">
  <div class="container">
   @if(errormessage){
      <div class="alert alert-danger text-center">{{errormessage}}</div>
   }
   @if(successmessage){
      <div class="alert alert-success text-center">{{successmessage}}</div>
   }
      <div class="row">

            @for (book of pagedBook; track $index) {
            
               <div class="col-12 col-md-4 col-lg-3 mb-5">
                  <div class="product-item">
                     <img src="assets/images/test.jpg" class="img-fluid product-thumbnail">
                     <h3 class="product-title"> {{ book.bookName }} </h3>                           
                     <span class="icon-cross" (click)="addToList(book._id)">
                        <img src="assets/images/cross.svg" class="img-fluid">
                     </span>
                     <button type="button" (click)="view(book._id)" class="button button-a button-small">View</button>
                  </div>
               </div> 
               
            }

      </div>
      <mat-paginator [length]="data.length" [pageSize]="4" (page)="onPageChange($event)">
      </mat-paginator>
  </div>
</div>

