<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="categoryEditModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="categoryEditModal">Edit Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="patch" [formGroup]="editCategoryForm" (ngSubmit)="handleForm()">
                <div class="modal-body">
                    <label for="editCategoryName">Category Name:</label>
                    <input type="text" name="editCategoryName" 
                    [value]='editedCategoryObject?.categoryName' formControlName="categoryName">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

