<br> <br> 
<!-- Start Popular Product -->
<div class="popular-product">
    <div class="container">
        <div class="product-list">
            @for (Book of CategoryDetails; track $index) {
            <div class="product-item">
                <div class="card">
                    <div class="thumbnail">
                        <img [src]="Book.photo || '../assets/images/test.jpg' " alt="Image" class="card-img-top img-fluid">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{Book.bookName}}</h5>
                        <h6 class="card-text">by:{{Book.authorId.firstName}}</h6>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
