
		<!-- Start Blog Section -->
		<div class="blog-section">
			<div class="container">
				
				<div class="row">
					
					@for (author of data; track $index) {
            
					<div class="col-12 col-sm-6 col-md-4 mb-5">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="assets/images/author.png" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="#">{{author.firstName}}  {{author.lastName}} </a></h3>
								<div class="meta">
									<span>BirthDate: <a href="#">{{author.dateOfBirth}}</a></span>
								</div>
							</div>
						</div>
					</div>

					}

				</div>
			</div>
		</div>
		<!-- End Blog Section -->	