<div class="container w-75 mx-auto border border-dark" >
    <div class="row" style="height:130px">
        <div class="col-3 border border-dark">
            <img src="/assets/images/author.png" alt="" style="width: 100%; height: 100%">
        </div>
        <div class="col border border-dark">
            <p>{{ this.currentAuthor.firstName }}</p>
            <p>{{ this.currentAuthor.newDate.getFullYear() 
            + '/' + this.currentAuthor.newDate.getMonth() 
            + '/' + this.currentAuthor.newDate.getDay()}}</p>
        </div>
    </div>
    <div class="row">

    </div>
</div>