<div class="container">
    <div class="text-center mt-4">
        <h2>WELCOME TO OUR LIBRARY</h2>
        <h6>welcome to the most popular library today</h6>
    </div>
    <div class="row aboutbody">
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa fa-book" aria-hidden="true"></i>
            </div>
            <h3>EBOOK</h3>
            <p>lorem ispum lorem ispum lorem ispum lorem ispum lorem ispum lorem ispum</p>
            <button class="btn btn-outline-secondary">read more</button>
        </div>
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa fa-book" aria-hidden="true"></i>
            </div>
            <h3>EBOOK</h3>
            <p>lorem ispum lorem ispum lorem ispum lorem ispum lorem ispum lorem ispum</p>
            <button class="btn btn-outline-secondary">read more</button>
        </div>
        <div class="col-md-4 text-center">
            <div class="icon">
                <i class="fa fa-book" aria-hidden="true"></i>
            </div>
            <h3>EBOOK</h3>
            <p>lorem ispum lorem ispum lorem ispum lorem ispum lorem ispum lorem ispum</p>
            <button class="btn btn-outline-secondary">read more</button>
        </div>
    </div>
</div>
