.button-container {
    text-align: center;
}

.button-container button {
    padding: 10px 20px;
    margin: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}