<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Cover</th>
        <th>Name</th>
        <th>Author</th>
        <th>Rating</th>
        <th>AVG Rating</th>
        <th>Shelve</th>
      </tr>
    </thead>
    <tbody>
        
        @for (book of myBooks.user_books; track $index) {
            
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img
                        src=""
                        alt=""
                        style="width: 45px; height: 45px"
                        class="rounded-circle"
                        />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">{{book.bookId.photo}}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{book.bookId.bookName}}</p>
                </td>
                
        <td>{{book.bookId.authorId.firstName}}</td>
        <td>
             <select (change)="updateBookRate($event, book.bookId._id)">

                <option selected> {{book.rate || 'N/A'}}</option>
                <option value="" disabled>--------</option>

                @for (rate of ratingValues; track $index) {
                    <option>
                        {{rate}}
                    </option>
                   }
              </select>
                                
        </td>

        <td>
            <p>not yet</p>
        </td>

            <td>
                <select name="shelves" id="shelves" (change)="updateBookShelve($event, book.bookId._id)">
                    @for (shelve of shelveValues; track $index) {
                        @if (book.shelve === shelve ) {
                            <option [value]="shelve" selected> {{shelve}}</option>
                            <option value="" disabled>--------</option>
                            <option value="read">read</option>
                            <option value="reading">reading</option>
                            <option value="want to read">want to read</option>
                        }
                    }
                </select>
            </td>
    </tr>
}
    </tbody>
</table>