@if (!isLoggedIn) {

    <section class="welcome-message">
        <div class="container" style="
         
        box-sizing: border-box;
        background-color: #f8f9fa;
        padding: 50px 0;
        text-align: center;
        width: 100%;
        ">
          <h1>Welcome to Your Website!</h1>
          <p>Embark on a literary journey with us as we explore captivating stories, enlightening non-fiction, and timeless classics. Whether you're a seasoned bookworm or just starting your reading adventure, our curated collection has something for everyone. Dive into worlds of imagination, broaden your horizons, and discover the joy of reading. Happy exploring!</p>
        </div>
      </section>

    <div class="product-section">
        <div class="container">
            <div class="row">
                <!-- Start Column 1 -->
                <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                    <h2 class="mb-4 section-title">Popular Books</h2>
                    <p class="mb-4">Discover our popular books! From gripping thrillers to heartwarming tales, explore captivating stories and timeless classics. Find your next great read today!</p>
                    <p><a href="/books" class="btn">Explore</a></p>
                </div> 
                <!-- End Column 1 -->
                <!-- Start Column 2 -->
                @for(book of popularBooks ; track $index){
                    <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                        <a class="product-item" [routerLink]="'/books/' + book.bookId">
                            <img src="../../assets/images/author.png" class="img-fluid product-thumbnail">
                            <h3 class="product-title">{{book.bookName}}</h3>
                        </a>
                    </div> 
                    <!-- End Column 2 -->
                }
            </div>
        </div>
    </div>


        <!-- Start categories section-->
		 <div class="categories-section">
			<div class="container">
				<div class="row">
                    @for(category of popularCategories ; track $index){
					<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="pt-3">
                            <h3>{{category.categoryName}}</h3>
                        </div>
						<div class="product-item-sm d-flex">
                            <div class="thumbnail">
                                <img src="assets/images/test.jpg" alt="Image" class="img-fluid">
							</div>
						</div>
                        <p><a [routerLink]="'/categories/' + category._id">Show More</a></p>
					</div>
                }
				</div>
			</div>
		</div> 
		<!-- End categories section -->



    <!-- Start Blog Section -->
		<div class="blog-section">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-6">
						<h2 class="section-title">Popular Authors</h2>
					</div>
					<div class="col-md-6 text-start text-md-end">
						<a href="/authors" class="more">View All Authors</a>
					</div>
				</div>

				<div class="row">
                    @for(author of popularAuthors ; track $index){
					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a [routerLink]="'/authors/' + author._id" class="post-thumbnail">
                                <img src="assets/images/author.png" alt="Image" class="img-fluid">
                            </a>
							<div class="post-content-entry">
								<h3><a [routerLink]="'/authors/' + author._id" >{{author.firstName}}</a></h3>
							</div>
						</div>
					</div>
                }
					
				</div>
			</div>
		</div>
		<!-- End Blog Section -->	

}@else {
    <table id="customers">
        <tr *ngFor="let userbook of userBooks; let $index=index">
            <td>{{userbook.bookName}}</td>
            <td>{{userbook.bookId}}</td>
            <td>
                <span *ngFor="let star of [1, 2, 3, 4, 5]">
                    <i class="fa" [class.fa-star]="star <= userbook.rate" [class.fa-star-o]="star > userbook.rate" [style.color]="star <= userbook.rate ? '#3b5d50' : 'gray'"></i>
                </span>
            </td>
            <td>
                {{userbook.shelve}}
                <button *ngIf="!userbook.showForm" (click)="toggleUpdateForm($index)">Update Shelve</button>
                <form *ngIf="userbook.showForm" [formGroup]="updateShelveForm" (ngSubmit)="handleShelveSubmit(userbook.bookId)">
                    <input [value]="userId" type="hidden" formControlName="_id" />
                    <select formControlName="shelve">
                        <option value="" disabled selected hidden>Choose the shelve</option>
                        <option value="read">Read</option>
                        <option value="reading">Reading</option>
                        <option value="want to read">Want to Read</option>
                    </select>
                    <button type="submit" style="margin-left: 10px;">Update Shelve</button>
                </form>
            </td>
        </tr>
    </table>
    
}



<ul class="footer-nav">
    <li class="footer-nav-item">
      <a class="footer-nav-link" href="#">About Us</a>
    </li>
    <li class="footer-nav-item">
      <a class="footer-nav-link" href="#">Contact Us</a>
    </li>
    <li class="footer-nav-item">
      <a class="footer-nav-link" href="#">Policies</a>
    </li>
</ul>
