<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="categoryAddModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="categoryEditModal">Add Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @if(categoryerrormessage){
                <div class="alert alert-danger text-center">{{categoryerrormessage}}</div>
            }
            <form method="post" [formGroup]="categoryForm" (ngSubmit)="addCategory()">
            <div class="modal-body">
                <label for="categoryName">Category Name: </label>
                <input type="text" name="categoryName" class="form-control" formControlName="categoryName">
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>
